.calculate{
    display: flex;
    flex-direction: column;
    align-items: center;
    .calculator{
        min-height: 651px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: end;
        padding: 0 15px 183px;
        position: relative;
        background: linear-gradient(0deg, #09213A -3.48%, rgba(0, 0, 0, 0.00) 77.87%), url('/assets/images/calculatebackground.png'), lightgray 50% / cover no-repeat;
        background-position: 33% center;
        background-size: cover;
        img{
            width: 68px;
            min-width: 68px;
            height: 54px;
            min-height: 54px;
            margin: 29px auto auto auto;
        }
        h1{
            max-width: 285px;
            color: #FFF;
            font-family: 'Work Sans', sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin: 0 0 0 20px;
        }
        .calc{
            position: absolute;
            top: 516px;
            left: 0;
            padding: 0 15px;
            div{
                height: 603px;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 30px;
                background: #FFF;
                padding: 40px 32px;
                h1{
                    max-width: unset;
                    color: #1C3955;
                    font-family: 'Work Sans', sans-serif;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 48px;
                    margin: 0 0 8px 0;
                    animation: enterContent .8s linear;
                }
                div{
                    height: unset;
                    min-height: unset;
                    display: flex;
                    flex-direction: row;
                    column-gap: 8px;
                    padding: 0;
                    margin: 0 0 30px 0;
                    animation: enterContent .8s linear;
                    svg{
                        width: 16px;
                        min-width: 16px;
                        height: 16px;
                        min-height: 16px;
                    }
                    p{
                        color: #1C3955;
                        font-family: 'Work Sans', sans-serif;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 24px;
                        margin: 0;
                    }
                }
                form{
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    row-gap: 15px;
                    animation: enterContent .8s linear;
                    section{
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        row-gap: 8px;
                        label{
                            width: unset;
                            color: #1C3955;
                            font-family: 'Work Sans', sans-serif;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 16px;
                            margin: 0;
                        }   
                        &.select{
                            position: relative;
                            input{
                                min-height: 56px;
                                border-radius: 10px;
                                background: #096CC7;
                                border: none;
                                padding: 15px 26px;
                                color: #FFF;
                                font-family: 'Work Sans', sans-serif;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 24px;
                                cursor: pointer ;
                                &:read-only{
                                    &::placeholder{
                                        color: #FFF;
                                        font-family: 'Work Sans', sans-serif;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 500;
                                        line-height: 24px;  
                                    }
                                }
                                &:focus{
                                    outline: none;
                                    border: none;
                                    box-shadow: none;
                                    & ~ svg{
                                        rotate: 180deg;
                                    }
                                }
                                & ~ svg{
                                    position: absolute;
                                    width: 12px;
                                    min-width: 12px;
                                    height: 14px;
                                    min-height: 14px;
                                    top: 45px;
                                    right: 19px;
                                    transition: all .2s;
                                }
                            }
                        }
                        &.type{
                            input{
                                min-height: 56px;
                                border-radius: 10px;
                                background: #EFEFEF;
                                border: none;
                                padding: 15px 26px;
                                color: #1C3955;
                                font-family: 'Work Sans', sans-serif;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 24px;
                                cursor: pointer;
                                &:focus{
                                    outline: none;
                                    border: none;
                                    box-shadow: none;
                                }
                                &::placeholder{
                                    color: #AAA;
                                    font-family: 'Work Sans', sans-serif;
                                    font-size: 12px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 16px;
                                }
                            }

                        }
                        &.value{
                            position: relative;
                            input{
                                text-align: center;
                                border: none;
                                min-height: 56px;
                                border-radius: 10px;
                                background: #EFEFEF;
                                color: #1C3955;
                                font-family: 'Work Sans', sans-serif;
                                font-size: 24px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 24px;
                                padding: 15px 15px 15px 15px;
                                &:focus{
                                    outline: none;
                                    border: none;
                                    box-shadow: none;
                                }
                            }
                        }
                        &.text{
                            p{
                                color: #5F6F80;
                                text-align: center;
                                font-family: 'Work Sans', sans-serif;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 16px;
                                margin: 0 0 3px 0;
                                &.result{
                                    min-height: 64px;
                                    max-height: 64px;
                                    margin: 0 0 47px 0;
                                }
                            }
                        }
                        &.result{
                            p{
                                color: #1C3955;
                                font-family: 'Work Sans', sans-serif;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 16px;
                                margin: 0;
                            }
                            div{
                                height: unset;
                                min-height: 56px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 10px;
                                color: #FFF;
                                text-align: center;
                                font-family: 'Work Sans', sans-serif;
                                font-size: 24px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 24px;
                                margin: 0;
                            }
                            &:nth-child(1){
                                div{
                                    background: #5CC366;
                                }
                            }
                            &:nth-child(2){
                                div{
                                    background: #E39C30;
                                }
                            }
                        }
                        &.submit{
                            margin: auto 0 0 0;
                            input{
                                min-height: 62px;
                                border: none;
                                border-radius: 10px;
                                background: linear-gradient(180deg, #0B6AC9 0%, #004992 100%);
                                color: #FFF;
                                font-family: 'Work Sans', sans-serif;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 24px;
                                transition: transform .3s linear;
                                &:disabled{
                                    background: linear-gradient(180deg, #999999 0%, #666666 100%);
                                    color: #ffffff;
                                    cursor: not-allowed;
                                    opacity: 0.6;
                                    pointer-events: none;
                                    border: none;
                                    &:hover{
                                        transform: scale(1);
                                    }
                                }
                                &:hover{
                                    transform: scale(1.03);
                                }
                            }
                            &.showresult{
                                input{
                                    background: linear-gradient(180deg, #5CC366 0%, #5AA065 100%) !important;
                                    &:disabled{
                                        background: linear-gradient(180deg, #999999 0%, #666666 100%) !important;
                                        color: #ffffff;
                                        cursor: not-allowed;
                                        opacity: 0.6;
                                        pointer-events: none;
                                        border: none;
                                        &:hover{
                                            transform: scale(1);
                                        }
                                    }
                                }
                            }
                            &.button{
                                button{
                                    min-width: 253px;
                                    min-height: 62px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    column-gap: 8px;
                                    padding: 15px 20px;
                                    border-radius: 10px;
                                    border: none;
                                    background: linear-gradient(180deg, #0B6AC9 0%, #004992 100%);
                                    color: #FFF;
                                    font-family: 'Work Sans', sans-serif;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 32px;
                                    cursor: pointer;
                                    transition: transform .3s linear;
                                    &:disabled{
                                        background: linear-gradient(180deg, #999999 0%, #666666 100%);
                                        color: #ffffff;
                                        cursor: not-allowed;
                                        opacity: 0.6;
                                        pointer-events: none;
                                        border: none;
                                        &:hover{
                                            transform: scale(1);
                                        }
                                    }
                                    &:hover{
                                        transform: scale(1.03);
                                    }
                                    svg{
                                        width: 32px;
                                        min-width: 32px;
                                        height: 32px;
                                        min-height: 32px;
                                        transition: all .2s;
                                    }
                                }
                            }
                        }
                    }
                }
                .skeleton-container{
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    animation: enterContent .8s linear;
                    .skeleton{
                        width: 100%;
                        background: linear-gradient(90deg, #E8E8E8 25%, #e0e0e0 50%, #E8E8E8 75%);
                        background-size: 200% 100%;
                        animation: loading 1.5s infinite;
                        border-radius: 10px;
                        &:nth-child(1){
                            max-width: 210px;
                            height: 40px;
                            margin: 0 0 8px 0;
                        }
                        &:nth-child(2){
                            height: 21px;
                            margin: 0 0 4px 0;
                        }
                        &:nth-child(3){
                            max-width: 196px;
                            height: 21px;
                            margin: 0 0 17px 0;
                        }
                        &:nth-child(4){
                            height: 80px;
                            margin: 0 0 15px 0;
                        }
                        &:nth-child(5){
                            height: 80px;
                            margin: 0 0 16px 0;
                        }
                        &:nth-child(6){
                            height: 21px;
                            margin: 0 0 4px 0;
                        }
                        &:nth-child(7){
                            height: 21px;
                            margin: 0 0 63px 0;
                        }
                    }
                }
                .calculating{
                    margin: auto 0 0 0;
                    animation: enterContent .8s linear;
                    input{
                        min-height: 62px;
                        border: none;
                        border-radius: 10px;
                        background: linear-gradient(180deg, #5CC366 0%, #5AA065 100%) !important;
                        color: #FFF;
                        font-family: 'Work Sans', sans-serif;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 24px;
                        transition: transform .3s linear;
                        &:hover {
                          transform: scale(1.03);
                        }
                        animation: loadingButton 1.5s ease-in-out infinite;
                    }
                }
            }
        }
    }
    .gradient{
        min-height: 493px;
        background: linear-gradient(180deg, #9DBBD0 -49.68%, rgba(255, 255, 255, 0) 186.21%);
    }
}

/*Animations style*/

@keyframes loading {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
}

@keyframes loadingButton {
    0% {
       transform: scale(1.03);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.03);
    }
}

@keyframes enterContent{
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

/*Media queries*/

@media(max-width: 427px){
    .calculate{
        .calculator{
            .calc{
                div{
                    padding: 25px 25px;
                    h1{
                        font-size: 27px;
                        line-height: 35px;
                        margin: 0 0 10px 0;
                    }
                    div{
                        p{
                            font-size: 14px;
                            line-height: 14px;
                            br{
                                display: none;
                            }
                        }
                    }
                    form{
                        section{
                            &.text{
                                p{
                                    margin: 0 0 6px 0;
                                    &.result{
                                        margin: 0 0 53px 0;
                                    }
                                }
                            }
                        }
                    }
                    .skeleton-container{
                        .skeleton{
                            &:nth-child(7){
                                height: 21px;
                                margin: 0 0 67px 0 !important;
                            }
                        }
                    } 
                }
            }
        }
    }
}

@media(max-width: 413px){
    .calculate{
        .calculator{
            .calc{
                div{
                    form{
                        label{
                            row-gap: 5px;
                            &.type{
                                input{
                                    & ~ p{
                                        top: 54px !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 768px){
    .calculate{
        .calculator{
            min-height: 864px;
            padding: 0 70px 275px;
            img{
                width: 103px;
                min-width: 103px;
                height: 82px;
                min-height: 82px;
                margin: 61px auto auto auto;    
            }
            h1{
                max-width: 400px;
                color: #FFF;
                font-family: 'Work Sans', sans-serif;
                font-size: 36px;
                font-style: normal;
                font-weight: 600;
                line-height: 40px;
                margin: 0;  
            }
            .calc{
                top: 664px;
                padding: 0 70px;
                h1{
                    br{
                        display: unset;
                    }
                }
                div{
                    padding: 40px 50px;
                }
            }
        }
        .gradient{
            min-height: 489px;
        }
    }
}

@media(min-width: 1250px){
    .calculate{
        padding: 192px 70px 72px;
        background: linear-gradient(109deg, #FFF 15.43%, #D8ECFF 110.24%), linear-gradient(109deg, #2C8FF2 15.43%, #005AAD 110.24%);
        .calculator{
            max-width: 1300px;
            min-height: 728px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: end;
            padding: 60px 100px 72px;
            border-radius: 30px;
            column-gap: 10px;
            img{
                display: none;
            }
            h1{
                max-width: unset;
                color: #FFF;
                font-family: 'Work Sans', sans-serif;
                font-size: 36px;
                font-style: normal;
                font-weight: 600;
                line-height: 40px;
                margin: 0 0 30px 0;
            }
            .calc{
                max-width: 420px;
                position: unset;
                padding: 0;
                div{
                    padding: 40px;
                }
            }
        }
        .gradient{
            display: none;
        }
    }
}