/*Style global*/

*{
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: unset !important;
}

::-webkit-scrollbar {
    background: #B8CFDE;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #0B6AC9;
    border-radius: 15px;
}

::selection {
    color: #000;
    background: #EDF4D7;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*Condition tag*/

body{
    &.menu-open{
        overflow: hidden;
    }
    &.calculate-page{
        .menu{
            section{
                background: #085B91 !important;
            }
        }
        .header{
            .desktop{
                div{
                    a{
                        svg{
                            fill: #1C3955 !important;
                        }
                    }
                }
                nav{
                    ul{
                        li{
                            a{
                                color: #1C3955 !important;
                                &:hover{
                                    color: #0B6AC9 !important;
                                }
                            }
                        }
                    }
                }
                .buttons{
                    button{
                        &:nth-child(1){
                             display: none !important;
                        }
                        &:nth-child(2){
                            display: flex !important;
                        }
                    }
                }
                svg{
                    display: flex;
                    margin: 0;
                    width: 128px;
                    min-width: 128px;
                    height: 104px;
                    min-height: 104px;
                    .letter{
                        fill: #085B91 !important;
                    }
                }
            }
        }
    }
    .header{
        .desktop{
            .buttons{
                button{
                    &:nth-child(1){
                        display: flex !important;
                    }
                    &:nth-child(2){
                        display: none !important;
                    }
                }
            }
        }
    }
}